.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
  height: 4rem;
}
.nav-s{
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  list-style-type: none;
  margin-right: 2rem;
}
ul li{
  padding: 1rem;
  cursor: pointer;
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  margin: 1rem;
}
